<div class="about-container" style="text-align: center;">
<h1>A propos de moi</h1>
<br>
<span>Je m'appelle Thomas Foltzer, j'ai 20 ans.</span>
<span>Je suis étudiant à Ynov Lyon.</span>
Je fais de l'informatique et plus particulièrement du dévelopement.
<br><br>

Après avoir obtenu un Bac général avec les options mathématiques et physique-chimie, <br>
j'ai passé 2 ans à Polytech Lyon en Maths/Info, puis je suis rentré en deuxième année chez Ynov.
<br><br>

En dehors de l'informatique, je fais de la musculation, je joue aux échecs et j'écoute beaucoup de musique.
<br><br>
<a routerLink="/contact"> Me contacter</a>

<br><br>
<img src="images/aaaa.png">
</div>