<div class="home-container" style="text-align: center;">
  <h1>Entreprise</h1>
  <br />
  <img src="images/header_logo.png" style="width: 100px;"/>

  <br />

  <div class="description">
    J'ai réalisé mon stage chez
    <a class="underline" href="https://www.danempeople.fr/" target="_blank"
      >Danem People</a
    >, du 04 Juin 2024 au 09 Août. <br /><br />

    <br /><br />
    <img src="images/IMG_4558.jpg" style="width: 300px;"/>


    
<br><br>
    Du 04 Juin au 27 Juin j'étais le matin en cours et les après-midi au stage,
    puis du 28 Juin au 09 Août en journée complète au stage. <br /><br />
    Danem People est une agence de recrutement dans plusieurs secteurs,
    notamment dans l'INGÉNIERIE, IT & DIGITAL. <br /><br />
    Ils ont notamment un site web nommé
    <a class="underline" href="https://www.elec-jobs.fr/" target="_blank"
      >Elec-jobs</a
    >, spécialisé dans les secteurs de l'électronique, de l'automatisme et du
    génie électrique. <br /><br />
    C'est sur ce site que j'ai travaillé. <br /><br />
    On n'était que 6 sur le plateau donc il y avait une très bonne entende et tout le monde était sympathique. <br><br>
    J'étais le seul en développement, mais je
    pouvais quand même poser des questions <br /><br />
    au manager et à la chargé de communication sur tout ce qui concernait
    l'UX/UI design.
  </div>
</div>

<router-outlet />
