<div class="container-blog" style="text-align: center;">
  <h1>Blog</h1>

  <br />

  <div class="sort-dropdown">
    <label for="sort-options">Trier par date:</label>
    <select id="sort-options" (change)="onSortChange($event)">
      <option *ngFor="let option of sortOptions" [value]="option.value">{{ option.label }}</option>
    </select>
  </div>

  <!-- Affichage des articles triés -->
  <div class="blog-template" *ngFor="let a of sortedBlog">
    <div class="blog-date">{{ a.date | date: 'dd MMMM yyyy' }}</div>
    <div class="blog-mission">
      <ul>
      </ul>
    </div>
    <div class="blog-description" [innerHTML]="a.description"></div>
  </div>
</div>
