<div class="container-blog">
  <h1>Blog:</h1>

  <div class="blog-template" *ngFor="let a of blog">
    <div class="blog-date">{{ a.date }}</div>
    <div class="blog-mission">
      <ul *ngFor="let mission of a.mission">
        <li>{{ mission }}</li>
      </ul>
    </div>
    <div class="blog-description">
      {{ a.description }}
    </div>
  </div>

  <div class="blog-writter">
    <form (ngSubmit)="onSubmit()">
      Date: <input type="date" [(ngModel)]="newBlog.date" name="date" required /><br />
      Mission(s): <input type="text" [(ngModel)]="newBlog.missions" name="missions" required /><br />
      Description: <textarea [(ngModel)]="newBlog.description" name="description" required></textarea><br />
      <button type="submit">SEND</button>
    </form>
  </div>
</div>
